.write_postsidebar {
    flex: 2;
    margin: 20px;
    padding-bottom: 30px;
    background-color: rgb(244, 244, 244);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.write_postsidebar header {
    background-color: rgb(244, 244, 244);
    font-size: x-large;
    padding: 0;
}

.write_postsidebar ul {
    width: 80%;
    padding: 15px 10px;
    list-style: none;
    align-items: center;
}

.WSideItem {
    margin-top: 10px;
    width: 80%;
    padding: 15px 15px;
    border-bottom: 1px solid gray;
    cursor: pointer;
    font-size: 20px;
    font-family: "Oswald", sans-serif;
}

.WSideItem:hover {
    color: orange;
}

.WRIcon {
    margin-right: 10px;
    padding-top: 5px;
}

.Goblog {
    color: teal;
    width: 80%;
    padding: 15px 15px;
    cursor: pointer;
    font-size: 26px;
    font-family: "Oswald", sans-serif;
}

.publishButton {
    background-color: rgb(0, 119, 119);
    color: white;
    transition: background-color 0.2s;
    width: 200px;
    text-align: center;
    margin: 20px;
    font-size: 20px;
}

.publishButton:hover {
    background-color: rgb(8, 163, 163);
    color: white;
    transition: background-color 0.2s;
}