header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 0 16px;
    background-color: rgba(245, 240, 234, 0.658);
}

.left_section {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.sizeleft {
    font-size: 30px;
}

.sizeright {
    align-items: center;
    font-size: 30px;
}

.right_section a {
    align-items: center;
    padding-right: 18px;
    text-decoration: none;
    color: black;
}

.image1 {
    width: 40px;
    height: 40px;
}

.logolable {
    font-family: "Ms Madi", cursive;
    font-size: 50px;
    font-weight: bold;
}

.center_section {
    align-items: center;
}

.customfont1 {
    font-family: "Anek Telugu", sans-serif;
}

.lablesize {
    font-size: 20px;
}

.registerInput {
    width: 300px;
    height: 25px;
    padding: 10px;
    background-color: white;
    border: none;
    border-radius: 10px;
}

.registerButton {
    margin-top: 30px;
    cursor: pointer;
    background-color: rgb(0, 128, 128);
    color: white;
    padding: 15px;
    border: none;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
    transition: background-color 0.2s;
}

.loginButton {
    margin-top: 30px;
    cursor: pointer;
    background-color: rgb(5, 135, 14);
    color: white;
    padding: 0;
    border: none;
    border-radius: 10px;
    text-align: center;
    height: 44px;
    font-size: 20px;
    transition: background-color 0.2s;
}

.loginButton:hover {
    background-color: rgb(1, 179, 13);
}

.registerLoginButton {
    position: absolute;
    top: 90px;
    right: 20px;
    background-color: lightcoral;
    cursor: pointer;
    padding: 15px;
    border: none;
    color: white;
    border-radius: 10px;
}

.secondAuthButton {
    position: absolute;
    top: 90px;
    right: 20px;
    background-color: rgb(151 112 159);
    cursor: pointer;
    padding: 15px;
    border: none;
    color: white;
    border-radius: 10px;
    transition: background-color 0.2s;
}

.secondAuthButton:hover {
    background-color: rgb(185, 136, 194);
}

.registerInput {
    outline: none;
    font-size: 15px;
}

.registerInput:focus {
    outline: none;
    font-size: 18px;
}

.headerItem {
    transition: color 0.2s;
    padding-top: 30px;
}

.headerItem:hover {
    color: #51a644;
}

.headerIcon {
    vertical-align: middle;
    line-height: 1;
}

.headerLabel {
    margin-left: 15px;
    font-family: "Anek Telugu";
    font-size: 22px;
    font-weight: 500;
}

.avatar {
    border-radius: 50%;
    width: 60px;
    padding-top: 5px;
}

.dropdown {
    width: 100px;
    text-align: right;
}

.dropdown .item {
    display: none;
}

.dropdown:hover .item {
    display: block;
}