header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 0 16px;

    
    }
    .left_section{
        display: flex;
        align-items: center;
        cursor: pointer;
        
    
    }
    .sizeleft{
        font-size: 30px;
    }
    .sizeright{
        font-size: 30px;
    }

    
     .right_section a {
         padding-right: 18px;
         text-decoration: none;
         color: black;
}
.image1{
    width: 40px;
    height: 40px;
}
.logolable{
    font-family: 'Ms Madi', cursive;
    font-size: 50px;
    font-weight: bold;
    
}
.center_section{
    align-items: center;
}