.admincontent{
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    background-color: rgba(235, 247, 249, 0.628);
    height: inherit;

    
 
}

.adminWar{
    
    height: 100vh;
	padding: 20px;
    background: url("https://images.unsplash.com/photo-1437419764061-2473afe69fc2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fHdvcmtzcGFjZSUyMGJhY2tncm91bmR8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60");
    background-size: cover;
    /* background: linear-gradient(
        106.37deg,
        #ffe1bc 29.63%,
        #ffcfd1 51.55%,
        #f3c6f1 90.85%
      ); */
}

.cards{
    
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.left{
    flex: 7;
   
}

.right{
    flex: 4;
}

.userlist{
    height: 70vh;
    overflow: auto;
    /* background: linear-gradient(#80FFDB, #5390D9); */
}

.userlist::-webkit-scrollbar {
    display: none;
  }

.userlist {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.user-preview {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 16px;
    margin: 20px 0;
    border-bottom: 1px solid #fafafa;
    /* background: linear-gradient(#80FFDB, #5390D9); */
}
.user-preview:hover {
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}
.user-preview h2 {
    font-size: 20px;
    color: #f1356d;
    margin-bottom: 8px;
}
.user-preview a {
    text-decoration: none;
}  

.buttons{
    display: flex;
    gap: 10px;
}

.mailB{
    color: white;
    background-color: green;
    border: none;
}

.deleteB{
    color: white;
    background-color: red;
    border: none;
}

.top{
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.posts{
    padding: 20px;
}

.postslist{
    overflow: auto;
    background: none;
    height: 80vh;
    width: 100%;
}

.postslist::-webkit-scrollbar {
    display: none;
}

.postslist {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.post-preview{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 16px;
    margin: 20px 0;
    border-bottom: 1px solid #fafafa;
}



